.row-reverse {
  flex-direction: row-reverse;
}
.card {
  color: #696969;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  text-align: center;

  &-title {
    font-size: 1rem;
  }
  &-header:hover {
    position: relative;

    .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(black, 0.2);
    }
  }

  &-body {
    border-left: 1px solid #726d7f;
    border-right: 1px solid #726d7f;
    margin-top: 1rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.btn {
  background-color: #726d7f;
  border-color: #726d7f;

  border-radius: 0px;

  &:hover {
    background-color: #c1bfc7;
    border-color: #c1bfc7;
    color: #373347;
  }

  &:link,
  &:visited,
  &:active,
  &:focus,
  &-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #726d7f;
    border-color: #726d7f;

    box-shadow: none;
  }
}
